body {
background-color:#a3d5d3;
}

.main{
    //background-color : red;
    height : 60px;
    width : 100%;
    position:fixed;
    top : 0px;
    left : 0px;
}

.main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    //background-color: #333;
}

.main ul li {
    float: right;
}

.main ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.main ul li a:hover {
    background-color: #2ECC71;
}

.main ul li .logo-btn{
    padding : 10px;
}

.main ul li .logo-btn span{
    display:block;
    width:40px;
    height:6px;
    background-color:#151719;
    margin: 8px 0px;
}

.sidebar{
    position:fixed;
    width:200px;
    height:100%;
    background-color : #34495E;
    left: -200px;
    top : 60px;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 100;
    //overflow-y:scroll;
}

/* this is the initial state of all submenus.
  we set it to max-height: 0, and hide the overflowed content.
*/
.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}

.sidebar.active{
    left:0px;
}

.sidebar ul{
    margin:0px;
    padding:0px;
    list-style:none;
    z-index: 100;
}

.sidebar ul ul{
    transition : all 0.3s;
    opacity : 0;
    position : absolute;
    visibility : hidden;
    left: 100%;
    top : -2%;
    z-index: 100;
}

.sidebar ul li:hover ul {
    opacity : 1;
    visibility : visible;
}

.sidebar ul li {
    padding: 10px 0px;
    position : relative;
    width: 200px;
    background-color : #34495E;
    border-right : 2px solid #F1C40F;
    border-top: 1px solid #BDC3C7;
    list-style:none;
    color:rgba(230,230,230,0.9);
    border-bottom: 1px solid rgba(100,100,100,0.3);
    text-align: center;
    text-decoration: none;
    z-index: 100;
}

.sidebar ul li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.sidebar ul li:hover{
    background-color: #2ECC71;
}

/* when hovering over a .mainmenu item,
  display the submenu inside it.
  we're changing the submenu's max-height from 0 to 500px;
*/

.sidebar li:hover .submenu {
  display: block;
  max-height: 500px;
  z-index: 100;
}

/*
  we now overwrite the background-color for .submenu links only.
  CSS reads down the page, so code at the bottom will overwrite the code at the top.
*/

.submenu a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    z-index: 100;
}

#contents {
    display: block;
    width: 70%;
    height: 100%;
    clear: both;
    margin-top : 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color : #ddd;
}
/*
.contents #text-input{
    width : 500px;
    height : 300px;
}

.contents #preview{
    width : 500px;
    height : 300px;
    background-color : green;
}
*/

